<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>
<body>
    <form action="/process" class="container" method="post">
        <div class="title">
            <h1>Welcome to the Great Number Game!</h1>
        </div>
        <div class="description">
            <h2>I am thinking of a number betweeen 1 and 100</h2>
            <h2>Take a guess!</h2>
        </div>
        <div>
            <input type="text" name="guessed_number" class="input_text">
            <button class="input_button">Submit</button>
        </div>
    </form>
</body>
</html>