.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 100px;
}
.input_text {
    display: block;
    margin: auto;
}
.description {
    font-size: 9pt;
    font-weight: 100;
}
.input_button {
    margin-top: 10px;
}
.result_container {
    width: 250px;
    height: 250px;
    margin: auto;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.status_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result_container p {
    color: black;
}
.again_button {
    text-decoration: none;
    background-color: #E5E5E5;
    color: black;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid black;
}